<%- include('../../layout/header'); -%>
<div class="container mt-5">
    <div class="text-center">
        <h1 class="page-title">Set New Password</h1>
    </div>
    <hr>
    <div class="col-md-6 mx-auto">

        <form method="POST">

            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label for="old_password">Old Password<span class="text-danger">*</span>:</label>
                        <input type="password" class="form-control" id="old_password" name="old_password">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.old_password)?errors.old_password:''; %></small>
                    </div>
                </div>
               
                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label for="password">Password<span class="text-danger">*</span>:</label>
                        <input type="password" class="form-control" id="password" name="password">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.password)?errors.password:''; %></small>
                    </div>
                </div>

                <div class="col-12 col-md-12">
                    <div class="form-group">
                        <label for="pwd">Confirm Password<span class="text-danger">*</span>:</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.confirm_password)?errors.confirm_password:''; %></small>
                    </div>
                </div>
                <div class="text-center col-12">
                    <button type="submit" class="btn btn-info">Update Now</button>
                </div>

            </div>
        </form>
    </div>
</div>
<%- include('../../layout/footer'); -%>